*#*#
/puddletag-docs/_build
*.pyc
/releases
/deb_build
/dist/
/build/
*#*
puddletag-docs/translations
.idea/
venv
rss_temp*.txt
rss_temp*.html
rss_temp*.doctree
/MANIFEST
/puddletag.pro
/puddlestuff/translations/*.qm
