[Desktop Entry]
Version=1.0
Type=Application
Name=puddletag
Comment=An audio tagger for GNU/Linux similar to Mp3tag for Windows.
TryExec=puddletag
Exec=puddletag
Icon=puddletag
GenericName=Audio Tag Editor
Categories=AudioVideo;Qt;